*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    
}

.cabecera{
    height: 100px;
    display: flex;
    align-items: center;
}
h1{
    margin-left: 30px;
    font-family: 'Water Brush', cursive;
    font-size: 60px;
}

.lista {
    list-style-type: none;
    background-color: lightskyblue;
    display: flex;
    margin: 10px;
    border-radius: 10px;
}
    
.lista-item {
    flex-grow: 1;
    border-right: 2px solid white;
}

.lista-item {
    display: block;
    padding: 8px 0;
    text-align: center;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.lista_item-link:hover {
    text-decoration: underline;
    background-color: var(--gris);
}

@media (max-width: 767px) {
    .lista{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .lista_item-link{
        text-align: center;
    }
}

.slider{
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  .slider ul{
      display: flex;
      animation: cambio 20s infinite alternate linear;
      width: 400%;
  }
  .slider li{
      width: 100%;
      list-style: none;
  }
  .slider img{
      width: 100%;
      height: 100%;
  }


  @keyframes cambio{
      0%{margin-left: 0;}
      20%{margin-left: 0;}
      
      25%{margin-left: -100%;}
      45%{margin-left: -100%;}
      
      50%{margin-left: -200%;}
      70%{margin-left: -200%;}
      
      75%{margin-left: -300%;}
      100%{margin-left: -300%;}
  }


  @media only screen and (min-width:320px) and (max-width:768px){
  .slider, .slider ul, .slider img{
      height: 100vh;
  }
}
